<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
  <display-name>cl</display-name>
  
  <servlet>
    <servlet-name>announceAddAction</servlet-name>
    <servlet-class>announcement.announceAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>announceUpdateAction</servlet-name>
    <servlet-class>announcement.announceUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ss</servlet-name>
    <servlet-class>announcement.ss</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>replyAddAction</servlet-name>
    <servlet-class>reply.replyAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userLoginAction</servlet-name>
    <servlet-class>users.userLoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminLoginAction</servlet-name>
    <servlet-class>users.adminLoginAction</servlet-class>
  </servlet>
  <!-- 以下为邹代发的servlet -->
<servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.daleyzou.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.daleyzou.servlet.OrderServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>announceAddAction</servlet-name>
    <url-pattern>/announceAddAction</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>announceUpdateAction</servlet-name>
    <url-pattern>/announceUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/servlet/ss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>replyAddAction</servlet-name>
    <url-pattern>/replyAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userLoginAction</servlet-name>
    <url-pattern>/userLoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminLoginAction</servlet-name>
    <url-pattern>/adminLoginAction</url-pattern>
  </servlet-mapping>
  
  <!-- 以下为邹代发的servlet -->
<servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>

</web-app>